#services td {
    font-size: 25px;
}

hr {
    border-top: 3px solid #5c5d6b;
    opacity: 1;
}

.card-title {
    background-color: #5c5d6b;
    border-radius: 10px;
    color: white;
    padding: 5%;
}

.meet, .services, .about{
    border: 2px solid #8d8e97;
}

.card {
    border: 1px solid #5c5d6b;
    
}


input:focus {
    outline: 2px solid black;
    background-color: #efefef;
}

.appointmentButton {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.appointmentButton:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.appointmentButton:focus {
    outline: none;
}

.appointmentButton.bn28 {
    background-image: linear-gradient(to right,
            #5c5d6b,
            #6c6d7a,
            #535460);
}

th {
    border-bottom: 3px solid #5c5d6b !important;
}



label {
    font-size: 18px;
}

.table {
    background-color: #fff !important;

}

p {
    font-size: 20px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about {
    background-color: #fff;
}

.meet {
    background-color: #fff;
}

body {
    background: #ceced3;
    font-family: 'Lato', sans-serif;
}


.jumbotron {
    color: #fff;
    background: url(../images/dogsandcats.jpg);
    background-size: cover;
    text-align: center;
    font-size: 40px;
    padding: 16% 0px 16% 0px;
    width: 100%;
    margin: 0;
}

.title {
    font-size: 70px;
    font-weight: 300;
}

@media (max-width: 500px) {
    .title {
        font-size: 50px;
    }
}

.tab {
    background: #5c5d6b;
    opacity: 0.9;
    padding: 4% 2% 4% 0;
}

.navbar {
    background-color: rgba(255, 255, 255, 1) !important;
    font-size: 20px;
    padding: 0px 0 0px 0 !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}



.navbar-brand {
    max-height: 5.9%;
    max-width: 5.9%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}